﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("Retail Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-link">@Html.ActionLink("Category", "Index", "Categories")</li>
                    <li class="nav-link">@Html.ActionLink("Item Type", "Index", "ItemTypes")</li>
                    <li class="nav-link">@Html.ActionLink("Items", "Index", "Items")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
