﻿@model HomeAssignmentEnterpriseProgramming.Models.Item 

    
        <div class="card">
            <div class="card-body">
                <div class="card-title" style="font-weight:bold;">
                    @Html.DisplayNameFor(model => model.ItemType.Name): @Html.DisplayFor(model => model.ItemType.Name)
                </div>

                <div class="col-12">
                    <p><b>@Html.DisplayNameFor(model => model.Owner)</b>: @Html.DisplayFor(model => model.Owner.Email)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Quantity)</b>: @Html.DisplayFor(model => model.Quantity)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Quality)</b>: @Html.DisplayFor(model => model.Quality)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Price)</b>: €@Html.DisplayFor(model => model.Price)</p>
                    <p><b>@Html.DisplayNameFor(model => model.DateAdded)</b>: @Html.DisplayFor(model => model.DateAdded)</p>

                    <div class="row">
                        <button class="btn btn-outline-primary" style="margin:5px">
                            @Html.ActionLink("Details", "Details", new { id = Model.ItemID })
                        </button>
                        @if (User.Identity.Name == Model.Owner.UserName)
                        {
                        <button class="btn btn-outline-primary" style="margin:5px">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID })
                        </button>

                        <button class="btn btn-outline-primary" style="margin:5px">
                            @Html.ActionLink("Delete", "Delete", new { id = Model.ItemID })
                        </button>
                        }
                    </div>
                </div>
            </div>
        </div>