﻿@using PagedList
@using PagedList.Mvc

@model IPagedList<HomeAssignmentEnterpriseProgramming.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>List of Items on Sale</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-sm-10">
        <p>
            @using (Html.BeginForm("Index", "Items", FormMethod.Get))
            {
                <b>Search by Name</b>
                @Html.TextBox("search") <input type="submit" value="Search" />
            }
        </p>
    </div>

    <div class="col-sm-2">
            @Html.ActionLink("Sort Newest First", "Index", new { sortBy = ViewBag.SortDateParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
    </div>
</div>

    <div class="container-fluid">
        <div class="row">


            @foreach (var item in Model)
            {<div class="col-sm-4">

                    @Html.Partial("_ItemPartialView", item)
                    <br />
                </div>
            }

        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

