﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RETAIL WEBSITE</h1>
    <p class="lead">Kayleigh Agius | SWD-6.2B</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Retail Website</h2>
        <p>
            Welcome to my retail website, navigate through the different using the navigation bar above!
        </p>
    </div>
</div>