﻿@model IEnumerable<HomeAssignmentEnterpriseProgramming.Models.ItemType>

@{
    ViewBag.Title = "Index";
}

<h2>List of Item Types Available</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span>
                    @Html.ActionLink("Details", "Details", new { id = item.Reference })
                </span>
                <span>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Reference })
                </span>
                <span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Reference })
                </span>
            </td>
        </tr>
    }

</table>