﻿@model IEnumerable<HomeAssignmentEnterpriseProgramming.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>List of Categories available</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CategoryID })

            @if (User.IsInRole("Admin"))
            {
                <span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })
                </span>
                <span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </span>
            }
        </td>
    </tr>
        }

    </table>
